html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    /* Remove default body margin */
}

header img {
    width: 100%;
    height: auto;
}

.second_section {
    width: 100%;
    height: auto;
}

.second_section img {
    width: 100%;
    height: auto;
}

.background {
    background: linear-gradient(to bottom, #E2F4F5 0%, #FFF6F3 40%, #FFEBE7 62%, #FFE3DA 100%);
}

.third_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.third_title::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5px);
    width: 120vw;
    /* 375px のとき 450px になるように設定 */
    max-width: 100%;
    /* 最大幅を450pxに制限 */
    height: 100px;
    background-color: #E2F4F5;
    border-radius: 270px 270px 0 0 / 50px 50px 0 0;
    /* 楕円の形を維持 */
    clip-path: inset(0 0 0 0);
    z-index: -1;
    /* クリッピングなし */
}

.third_title {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.third_title p {
    flex-shrink: 0;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
    margin: 30px 0 30px 0;
}

.third_contents {
    width: 100%;
    height: auto;
}

.third_subtitle {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 0 40px 0;
    z-index: 1;
}

.third_subtitle p {
    font-family: "Noto Serif JP", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    margin: 0;
}

.third_subtitle span {
    position: relative;
    z-index: 1;
}

.third_subtitle span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 6px;
    background-color: #FFD6D6;
    z-index: -1;
}

.third_subtitle img {
    position: absolute;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
}

.third_comment-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third_comment-box p {
    width: 95%;
    border-radius: 10px;
    background: #D8D8D8;
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    padding: 16px 11px 15px 12px;
    text-align: left;
    margin: 0;
}

.circles-container {
    position: relative;
    width: 300px;
}

.circle {
    position: absolute;
    background-color: #D8D8D8;
    border-radius: 50%;
}

.circle-1 {
    width: 15px;
    height: 15px;
    top: -5px;
    right: 10%;
    transform: translateX(-50%);
}

.circle-2 {
    width: 10px;
    height: 10px;
    top: 14px;
    right: 14%;
    transform: translateX(-50%);
}

.circle-3 {
    width: 10px;
    height: 10px;
    top: 30px;
    right: 17%;
    transform: translateX(-50%);
}

.third_comment-box img {
    width: 133px;
    height: auto;
    position: relative;
}

.third_text p {
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 30px 20px 30px;
    text-align: left;
}

.third_box {
    background-color: #FF9593;
    padding: 0 5px 0 5px;
    margin: 10px 0 10px 0;
    display: inline-block;
}

.third_box p {
    color: #FFF;
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    margin: 2px 5px 2px 5px;
}

.third_arrow {
    width: 100px;
    height: 20px;
    position: relative;
    margin: 30px auto;
}

.third_arrow::before,
.third_arrow::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 1px;
    background-color: #333;
}

.third_arrow::before {
    left: 0;
    transform: rotate(20deg);
    transform-origin: right center;
}

.third_arrow::after {
    right: 0;
    transform: rotate(-20deg);
    transform-origin: left center;
}

.fourth_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fourth_title p {
    flex-shrink: 0;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    line-height: 25px;
}

.comment-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}

.comment-box p {
    width: 95%;
    border-radius: 10px;
    background: #FFF;
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    padding: 16px 11px 15px 12px;
    text-align: left;
    margin: 0;
}

.fourth_hilight {
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.fourth_kakko {
    font-weight: 400;
}

.space-3 {
    display: block;
}

.fourth_triangle {
    position: absolute;
    right: 40px;
    width: 26px;
    height: 48px;
    background-color: #fff;
    transform: rotate(4.717deg) translate(-70px, 18px);
    clip-path: polygon(0 0, 100% 10%, 0 100%);
}

.fourth_women {
    width: 133.333px;
    height: 100px;
}

.fourth_img img {
    width: 100%;
    height: auto;
}

.fourth_text p {
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 30px 20px 30px;
    text-align: left;
}

.fifth_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fifth_title p {
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.fifth_title span {
    font-weight: 500;
    font-size: 18px;
    color: #F7514D;
    letter-spacing: 0.9px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.space-5 {
    display: block;
}

.fifth_text p {
    font-family: "Noto Serif JP", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin: 20px;
}

.fifth_text span {
    font-size: 12px;
    font-weight: 300;
}

.fifth_minitext {
    font-family: "Noto Serif JP", serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.fifth_main_text {
    background: linear-gradient(to right, #f85b58 0%, #FF9686 56%, #fdbbb2 100%);
    padding: 1rem;
}

.fifth_main p {
    color: #FFF;
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.fifth_main span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.fifth_main img {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.sixth_section {
    width: 100%;
    height: auto;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.sixth_title {
    width: 100%;
    height: auto;
    margin: 26px 0;
    background: #F5F5F5;
    display: inline-block;
    padding-top: 25px;
}

.sixth_maintitle {
    flex-shrink: 0;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    line-height: 25px;
}

.sixth_subtitle {
    margin: 22px 0;
    width: 100%;
    height: auto;
}

.sixth_subtitle img {
    position: absolute;
    width: 250px;
    left: 50%;
    transform: translate(-50%, -10px);
}

.sixth_subtitle p {
    margin: 0;
    position: relative;
    font-family: "Noto Serif JP", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.sixth_box {
    background: #FFF9F2;
    width: 90%;
    height: auto;
}

.box_title {
    display: flex;
    justify-content: center;
    margin: 40px 0 24px 0;
}

.box_title p {
    font-family: "Noto Serif JP", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.box_number {
    position: absolute;
    font-family: "Noto Serif JP", serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    transform: translate(10px, -90px);
}

.box_number span {
    font-size: 30px;
}

.box_corner {
    width: 75px;
    height: auto;
    position: absolute;
    left: 5%;
}

.box_text img {
    width: 100%;
}

.box_text p {
    font-family: "Noto Serif JP", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.6px;
}

.box_text li {
    text-align: left;
    margin: 0 15px 0 35px;
}

.box_text-img1 {
    width: 45%;
    max-width: 131px;
    height: auto;
}

.box_text-img2 {
    width: 45%;
    height: auto;
}

.box_text_minihilight {

}

.box_text_hilight {

}

.box_text-underline {

}

.tunagi {
    width: 100%;
}



@media screen and (max-width: 378px) {
    .space-3 {
        display: none;
    }
}